
# Ignore environment variables
.env

# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- OS specifični fajlovi ---
.DS_Store
Thumbs.db

# --- Logovi ---
*.log

# --- Pomoćni fajlovi ---
HELP.md